{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
{% endblock %}

{% block content %}
<section><br>
    <h1 class="text-center"> <b>Articles</b></h1>
    <h3 class="text-center"><em>Because the press must be brave as well as free...</em></h3><hr>
    <div class="container" id="content">
            <div class="row">
                {{ macro.displayArticleList(article)}}
            </div>
        </div>
</section>
{% endblock %}