{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to NewsHub; Global news at your fingertips </title>
        {% endif %}
    </head>
    <body>
        <!-- Africa news section  -->
        <h3>Africa News</h3>
         <ul>
            {{ macro.displayNewsList(africa)}}
        </ul>

        <!-- US news section  -->
        <h3> US News </h3>
         <ul>
            {{ macro.displayNewsList(us)}}
        </ul>

        <!-- Now showing movie -->
        <h3>United Kingdom News</h3>
         <ul>
            {{ macro.displayNewsList(uk)}}
        </ul>
 </body>
</html>