{% macro displaySourceList(source_list) %}

{% for source in source_list %}


<div class="col-md-3 mt-2">
    <div class="card ">
        
        <div class="card-header bg-danger text-center">
            <a id="read" class="header section-link" href="articles/{{source.id}}"> <h3>{{source.name }}</h3></a>
        </div>
        <div class="card-body">
            <p class="description">{{source.description|truncate(100)}}</p>
        </div>
    </div>
</div>

{% endfor %}
{% endmacro %}



{%  macro displayArticleList(article_list) %}

    {% for arts in article_list %}

    <div class="col-sm-4 mt-5">
        <div class="card">
            <div class="card-header">Published on:{{arts.publishedAt}}</div>
            <img class="card-img-top" src="{{arts.urlToImage}}"  alt="{{arts.name}}" style="width:100%;height:56%;" class="img-responsive">
            <div class="card-body">
            <h4 class="card-title">By:{{arts.author}}</h4>
            <p class="card-text">{{arts.description |truncate(100)}}</p>
            <a href="{{arts.url}}"  target="_blank" class="btn btn-primary">Read more....</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endmacro %}



  